<!DOCTYPE html>
<html lang="es">
    <head>
        <meta
        name="description"
        content="culibirisss"
        data-react-helmet="true"
      />
        <meta
        name="prueba:title"
        content="lololol"
        data-react-helmet="true"
      />
    </head>
    <body>  
   </body>
   <script>
      window.location.href = "http://localhost:3001/event-certificate?id=8";
   </script>
</html>
